<!--
 * @Author: Yh
 * @LastEditors: Yh
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>标题：{{title}}</p>
    <p><input type="text" v-model="value" /></p>
    <p>您输入的内容是{{value}}</p>
    <p>
      次数:{{info.count}}
      <button @click="add">+</button>
    </p>
  </div>
  <script src="./index.js"></script>
  <script>
    const vm = new MyVue({
      el:'#app',
      data:{
        title:'mvvm',
        value: 'value',
        info: {
          count: 10,
          date: {
            week: 1,
            date: '3-25',
          }
        }
      },
      methods:{
        add(){
          alert('add');
        }
      },
      created(){
        this.info.count = 11;
      }
    })
    

    // const a = {
    //   name:'a',
    //   age: 13
    // }

    // let _name = "a";
    // Object.defineProperty(a, 'name', {
    //   get(){  // 获取属性的时候
    //     console.log('get-----');
    //     return _name;
    //   },  
    //   set(val){  // 设置属性的时候触发
    //     // console.log('set-----',val);
    //     _name = val;
    //   }
    // })
    

  </script>
</body>
</html>